@model Cine_NT1_Grupo2.Models.Asiento

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estás seguro de que deseas eliminar este Asiento?</h3>
<div>
    <h4>Asiento</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fila)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fila)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Numero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Numero)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
