USE [cinePrueba]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CineBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CineBD]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Asiento]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asiento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fila] [nvarchar](1) NOT NULL,
	[Numero] [int] NOT NULL,
	[FuncionId] [int] NOT NULL,
 CONSTRAINT [PK_Asiento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cine]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cine](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](max) NOT NULL,
	[ClienteActualid] [int] NULL,
 CONSTRAINT [PK_Cine] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](20) NOT NULL,
	[Apellido] [nvarchar](20) NOT NULL,
	[Mail] [nvarchar](20) NOT NULL,
	[pass] [nvarchar](20) NOT NULL,
	[CineId] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Entrada]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Entrada](
	[EntradaId] [int] IDENTITY(1,1) NOT NULL,
	[FuncionId] [int] NULL,
	[AsientoId] [int] NOT NULL,
	[Clienteid] [int] NULL,
 CONSTRAINT [PK_Entrada] PRIMARY KEY CLUSTERED 
(
	[EntradaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Funcion]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Funcion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPelicula] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[Sala] [int] NOT NULL,
	[CineId] [int] NULL,
 CONSTRAINT [PK_Funcion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pelicula]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pelicula](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Calificacion] [int] NOT NULL,
	[Genero] [int] NOT NULL,
 CONSTRAINT [PK_Pelicula] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarjeta]    Script Date: 22/11/2021 12:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarjeta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FechaDeVencimiento] [datetime2](7) NOT NULL,
	[CodigoSeguridad] [int] NOT NULL,
	[Nombre] [nvarchar](30) NOT NULL,
	[Clienteid] [int] NULL,
	[Numero] [bigint] NOT NULL,
 CONSTRAINT [PK_Tarjeta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211121193045_FKEntradas', N'3.1.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211121214852_cambiosPelicula', N'3.1.20')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211121224132_CineBd', N'3.1.20')
GO
SET IDENTITY_INSERT [dbo].[Asiento] ON 

INSERT [dbo].[Asiento] ([Id], [Fila], [Numero], [FuncionId]) VALUES (1, N'A', 1, 1)
INSERT [dbo].[Asiento] ([Id], [Fila], [Numero], [FuncionId]) VALUES (2, N'D', 4, 1)
INSERT [dbo].[Asiento] ([Id], [Fila], [Numero], [FuncionId]) VALUES (3, N'D', 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Asiento] OFF
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([id], [Nombre], [Apellido], [Mail], [pass], [CineId]) VALUES (1, N'Federico ', N'Prado Diessler', N'fede@fede.com', N'12345678', NULL)
INSERT [dbo].[Cliente] ([id], [Nombre], [Apellido], [Mail], [pass], [CineId]) VALUES (2, N'Mariano', N'Toppino', N'mariano@mariano.com', N'12345678', NULL)
INSERT [dbo].[Cliente] ([id], [Nombre], [Apellido], [Mail], [pass], [CineId]) VALUES (3, N'Facundo', N'Safe', N'facu@facu.com', N'abcdefgh', NULL)
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Entrada] ON 

INSERT [dbo].[Entrada] ([EntradaId], [FuncionId], [AsientoId], [Clienteid]) VALUES (1, 1, 1, NULL)
INSERT [dbo].[Entrada] ([EntradaId], [FuncionId], [AsientoId], [Clienteid]) VALUES (2, 2, 45, NULL)
INSERT [dbo].[Entrada] ([EntradaId], [FuncionId], [AsientoId], [Clienteid]) VALUES (4, 5, 111, NULL)
SET IDENTITY_INSERT [dbo].[Entrada] OFF
GO
SET IDENTITY_INSERT [dbo].[Funcion] ON 

INSERT [dbo].[Funcion] ([Id], [IdPelicula], [Fecha], [Sala], [CineId]) VALUES (1, 1, CAST(N'2021-11-22T10:10:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[Funcion] ([Id], [IdPelicula], [Fecha], [Sala], [CineId]) VALUES (2, 1, CAST(N'2021-11-22T20:20:00.0000000' AS DateTime2), 1, NULL)
INSERT [dbo].[Funcion] ([Id], [IdPelicula], [Fecha], [Sala], [CineId]) VALUES (3, 2, CAST(N'2021-11-22T10:10:00.0000000' AS DateTime2), 2, NULL)
SET IDENTITY_INSERT [dbo].[Funcion] OFF
GO
SET IDENTITY_INSERT [dbo].[Pelicula] ON 

INSERT [dbo].[Pelicula] ([Id], [Nombre], [Calificacion], [Genero]) VALUES (1, N'Mad Max', 1, 4)
INSERT [dbo].[Pelicula] ([Id], [Nombre], [Calificacion], [Genero]) VALUES (2, N'Ciudadano Kane', 1, 5)
INSERT [dbo].[Pelicula] ([Id], [Nombre], [Calificacion], [Genero]) VALUES (3, N'La historia sin fin', 0, 2)
SET IDENTITY_INSERT [dbo].[Pelicula] OFF
GO
SET IDENTITY_INSERT [dbo].[Tarjeta] ON 

INSERT [dbo].[Tarjeta] ([Id], [FechaDeVencimiento], [CodigoSeguridad], [Nombre], [Clienteid], [Numero]) VALUES (1, CAST(N'2021-11-22T10:10:00.0000000' AS DateTime2), 954, N'FEDERICO PRADO DIESSLER', NULL, 1111222233334444)
SET IDENTITY_INSERT [dbo].[Tarjeta] OFF
GO
/****** Object:  Index [IX_Asiento_FuncionId]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Asiento_FuncionId] ON [dbo].[Asiento]
(
	[FuncionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cine_ClienteActualid]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Cine_ClienteActualid] ON [dbo].[Cine]
(
	[ClienteActualid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Cliente_CineId]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Cliente_CineId] ON [dbo].[Cliente]
(
	[CineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entrada_AsientoId]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Entrada_AsientoId] ON [dbo].[Entrada]
(
	[AsientoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entrada_Clienteid]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Entrada_Clienteid] ON [dbo].[Entrada]
(
	[Clienteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Entrada_FuncionId]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Entrada_FuncionId] ON [dbo].[Entrada]
(
	[FuncionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Funcion_CineId]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Funcion_CineId] ON [dbo].[Funcion]
(
	[CineId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Funcion_IdPelicula]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Funcion_IdPelicula] ON [dbo].[Funcion]
(
	[IdPelicula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Tarjeta_Clienteid]    Script Date: 22/11/2021 12:52:53 ******/
CREATE NONCLUSTERED INDEX [IX_Tarjeta_Clienteid] ON [dbo].[Tarjeta]
(
	[Clienteid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Asiento]  WITH CHECK ADD  CONSTRAINT [FK_Asiento_Funcion_FuncionId] FOREIGN KEY([FuncionId])
REFERENCES [dbo].[Funcion] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Asiento] CHECK CONSTRAINT [FK_Asiento_Funcion_FuncionId]
GO
ALTER TABLE [dbo].[Cine]  WITH CHECK ADD  CONSTRAINT [FK_Cine_Cliente_ClienteActualid] FOREIGN KEY([ClienteActualid])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Cine] CHECK CONSTRAINT [FK_Cine_Cliente_ClienteActualid]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_Cliente_Cine_CineId] FOREIGN KEY([CineId])
REFERENCES [dbo].[Cine] ([Id])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_Cliente_Cine_CineId]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Asiento_AsientoId] FOREIGN KEY([AsientoId])
REFERENCES [dbo].[Asiento] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Asiento_AsientoId]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Cliente_Clienteid] FOREIGN KEY([Clienteid])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Cliente_Clienteid]
GO
ALTER TABLE [dbo].[Entrada]  WITH CHECK ADD  CONSTRAINT [FK_Entrada_Funcion_FuncionId] FOREIGN KEY([FuncionId])
REFERENCES [dbo].[Funcion] ([Id])
GO
ALTER TABLE [dbo].[Entrada] CHECK CONSTRAINT [FK_Entrada_Funcion_FuncionId]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Cine_CineId] FOREIGN KEY([CineId])
REFERENCES [dbo].[Cine] ([Id])
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Cine_CineId]
GO
ALTER TABLE [dbo].[Funcion]  WITH CHECK ADD  CONSTRAINT [FK_Funcion_Pelicula_IdPelicula] FOREIGN KEY([IdPelicula])
REFERENCES [dbo].[Pelicula] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Funcion] CHECK CONSTRAINT [FK_Funcion_Pelicula_IdPelicula]
GO
ALTER TABLE [dbo].[Tarjeta]  WITH CHECK ADD  CONSTRAINT [FK_Tarjeta_Cliente_Clienteid] FOREIGN KEY([Clienteid])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Tarjeta] CHECK CONSTRAINT [FK_Tarjeta_Cliente_Clienteid]
GO
USE [master]
GO
