@{
    ViewData["Title"] = "Politica de Privacidad";
}
<h1>@ViewData["Title"]</h1>

<p>
    cinema ort se compromete a no utilizar sus datos de manera fraudulenta, Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec turpis orci, tempus at mi fermentum, dictum aliquam mi. Sed et erat quis urna tempus malesuada. In erat mi, convallis in porta vitae, dictum et nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla pharetra ut massa et viverra. Aenean sed purus lorem. Phasellus quis mi quis nibh venenatis efficitur in ac ipsum. Maecenas tempus diam id fringilla congue. Ut porttitor, nulla et luctus malesuada, libero augue tincidunt lacus, ac blandit neque nulla vitae sapien. Vestibulum blandit, sem nec aliquet elementum, ligula eros vulputate felis, non tempor felis diam vitae enim. In at vestibulum ex, id finibus dui. Praesent rhoncus a lorem at pulvinar. Aliquam et massa accumsan, tempus velit porta, fermentum ligula. Pellentesque a blandit orci. Curabitur nec vulputate mauris, ac volutpat metus. Nullam tellus nisi, gravida ut leo sit amet, commodo mollis est.

    Pellentesque odio dolor, dictum at feugiat sed, mollis sit amet neque. Nunc ac dui augue. Aenean et posuere metus. Duis efficitur massa eget sapien malesuada posuere. Donec vulputate aliquam quam, placerat fermentum risus aliquam in. Donec consectetur, arcu faucibus efficitur accumsan, turpis ligula tempus lacus, et auctor dui risus quis lacus. Donec vulputate semper felis dignissim accumsan. Aliquam erat volutpat. Etiam fringilla sapien et turpis finibus placerat. Integer pulvinar pellentesque turpis pharetra consectetur. Duis sit amet nunc sollicitudin elit sollicitudin faucibus. Fusce vestibulum purus eu odio blandit, vitae sollicitudin metus semper.

    Proin vestibulum, turpis vel mattis dignissim, nulla libero elementum nisl, vitae porta ex est ac ex. Proin egestas augue eget ante porttitor, eget tempor ex venenatis. Donec sollicitudin vehicula dui ut dapibus. Duis non suscipit turpis. Donec non condimentum orci. Nulla sit amet semper nulla. Nullam id orci tellus. Mauris congue, odio in convallis posuere, dolor ipsum auctor turpis, nec convallis velit tortor sed neque. Suspendisse potenti. Pellentesque faucibus ipsum eget aliquam facilisis. Nam aliquet arcu quis commodo sagittis. Sed elit neque, consequat at cursus vitae, porta pellentesque nisi. Duis sit amet ante est. Sed aliquet, augue id hendrerit rhoncus, sapien mi ultricies lorem, sed maximus nibh nunc sed augue. Curabitur ut ex nulla..
</p>
