@model Cine_NT1_Grupo2.Models.Funcion

@{
    ViewData["Title"] = "Seleccion de asiento";
}

<h1>Create</h1>

<h4>Seleccione su asiento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*Se le agrega la Id del model para que sea enviada por parametro*@
            @*Se le agrega name para que se le envia con este nombre al model Create*@
            <input type="hidden" asp-for="Id" name="FuncionId" />
       
            <input type="hidden" value=@User.FindFirstValue(ClaimTypes.NameIdentifier) name="ClienteId" />



            @Html.DropDownList("AsientoId", ViewBag.AsientoPeli as SelectList)


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
