@model Cine_NT1_Grupo2.Models.Pelicula

@{
    ViewData["Title"] = "Seleccion de funcion";
}

<h1>Create</h1>

<h4>Entrada</h4>
<hr />
<div class="row">
    <div class="col-md-4">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>


        <form asp-action="SelectAsiento">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @*Html.DropDownListFor(m => m.Funcion, new SelectList(ViewBag.Funciones, "Value", "Text"))*@


            @Html.DropDownList("IdFuncion", ViewBag.FechasPelis as SelectList)


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
